{% extends "base.html" %}
{% block content %}
<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class="display-4 mb-4">Stay ahead of the Data and machine learning revolution</h1>
            <p class="mb-0">In the fast-evolving world of data and machine learning, staying informed is essential. Our blog is dedicated to providing insights on the latest trends, innovations, and developments shaping the data landscape. Here, we share our thoughts and expertise to help you navigate this dynamic field, from groundbreaking advancements to practical applications. Explore our perspectives on the current state of data and what the future holds.
            </p>
        </div>
        <div class="row g-4 justify-content-center">

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Comming Soon!</a>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}