{% extends "base.html" %}
{% block content %}
<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class="display-4 mb-4">Under Construction</h1>
            <p class="mb-0"> Thank you for your patience. We are working on this page. </p>
        </div>

        <div class="row g-4 justify-content-center">

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Comming Soon!</a>
            </div>
        </div>

    </div>
</div>
<!-- Blog End -->
{% endblock %}